<h1>{{title}}</h1>
<table>
    <tr>
        <td><button (click)="getDateByZone('PST')" [ngClass]="{selected:lastZone==='PST'}">PST</button></td>
        <td><button (click)="getDateByZone('MST')" [ngClass]="{selected:lastZone==='MST'}">MST</button></td>
        <td><button (click)="getDateByZone('CST')" [ngClass]="{selected:lastZone==='CST'}">CST</button></td>
        <td><button (click)="getDateByZone('clear')" [ngClass]="{selected:lastZone==='null'}">Clear</button></td>
    </tr>
</table>
<h2>{{time|date:'medium'}}</h2>
